{% extends 'base.html' %}

{% block title %}
About Us
{% endblock title %}

{% block body %}


    
        <div id="body">
            <div class="abouttable">
                <table id="abouttable">
                    <tr>
                        <td style="width:50% ; margin-left: 100px;">
                            <b>Welcome To The Astronomy Portal . . .</b>

                        </td>
                        <td style="width:50%">
                        </td>
                    <tr>               

                </table>   
        </div class="aboutpara">
       <p id="aboutpara"><b>At Our 20 centers and facilities across the country – and the only National Laboratory in space – NASA studies Earth, including its climate, our Sun, and our solar system and beyond. We conduct research, testing, and development to advance aeronautics, including electric propulsion and supersonic flight.</b>
        <br>
       <br>
       <b>The data presented on this this website is retrieved from the official  NASA servers using the API(s). </b><br><br>
          <p style="direction:rtl ;color:white;
          font-size: 30px;margin-right: 410px
          ;"> © All Rights Reserved </p>
         <p style="direction:rtl ;color:white;
         font-size: 30px;margin-right: 30px
         ;"> Website is Build and Maintained By - Bharat Kumar</p>
    </p><br>
            </div>
    

{% endblock body %}