{% extends 'base.html' %}
{% block title %}
contact us
{% endblock title %}

{% block body %}
<div id="contactback"><br><br>
   <p class="contactpara"> <b>We encourage you to use the NASA website for finding the information you are seeking or the answers to your questions before submitting a request for information.  NASA also invites you to consider using one or more of the following easy and convenient communications tools for receiving NASA updates on the exciting work NASA is doing.</b></p>
<p class="contactpara2">If you are not able to locate the information you are seeking on one of our websites, you may write to us at:
    <br>Mary W. Jackson NASA Headquarters
    <br>300 E. Street SW, Suite 5R30
    <br>Washington, DC 20546
    <br>(202) 358-0001 (Office)
    <br>(202) 358-4338 (Fax)
    <br>or you can submit a question to Contact NASA.</p>
    
    <br>
    <p style="font-size: 50px;font-family: algerian;margin: 30px;font-weight: bold;">KEEP EXPLORING</p><br>
    <p id="contactme">Contact Us at :-<br><a href="mailto:bharatkumar19030@gmail.com">E-Mail: bharatkumar19030@gmail.com</a><br>
        Address: Lovely Professional University (INDIA)<br>
        Ph. : 97290243XX

    </p>
</div>
{% endblock body %}